#icon{
    height: 30px;
}
#icone{
    width: 50px;
    height: 18px;
    background-color: #04AA6D;
}
h1{
    text-align: center;
    margin: 1px;
    background-color: rgb(168, 0, 0);
}
li a {
    width: 90px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li{
    list-style-type: none;
    display: inline;
}
ul{
    padding-left: 1px;
    text-align: justify;
    height: 46px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin: 0;
    padding: 0;
    background-color: #585858;
}
nav {
    display: block;
    padding: 8px;
    padding-top: 1px;
}
li a:hover {
    background-color: #111;
  }
